<html>
   <body>

      <!-- <form action = "" method = "get"> -->
         <!-- <p>Enter Name:</p>
         <p><input type = "text" name = "nm" /></p> -->
         <!-- <p><input type="submit" name="Start" value="start"></p> -->
         <!-- <p><input type="submit" name="Stop" value="stop"></p> -->
      <!-- </form> -->

      <form method ="post" action="">
         <button type="submit" name="start" value="start"> Start </button>
         <button type="submit" name="stop" value="stop"> Stop </button>
       </form> 

   </body>
</html>